{% extends 'ytmusicquiz/base.html' %}

{% load bootstrap4 %}

{% block content %}

    <div class="game" game-id="{{ game.id }}">
        <h1>In game</h1>

        <h2>
            {{question_progress}} / {{question_count}}
            <button id="playpause" class="btn btn-secondary float-right m-1">Play / pause</button>
            <button id="replay" class="btn btn-secondary float-right m-1">Replay</button>
        </h2>

        <div class="card">
            <div class="card-header">
                <button class="btn btn-link m-0" data-toggle="collapse" data-target="#answer">
                    Answer
                </button>
            </div>

            <div id="answer" class="collapse">
                <div class="card-body">
                    <b>Artist:</b> {{question.track.artist}}<br/>
                    <b>Track:</b> {{question.track.track}}<br/>
                    <b>Featuring:</b> {{question.track.feat}}
                </div>
            </div>
        </div>

        <form method="POST" class="my-5">
            {% csrf_token %}

            {{ formset.management_form }}
            {% for form in formset %}
                {% for player_name in player_names %}
                    {% if forloop.counter == forloop.parentloop.counter %}
                        <h5>{{ player_name }}</h5>
                        {% bootstrap_form form layout='inline' %}
                    {% endif %}
                {% endfor %}
            {% endfor %}

            <button type="submit" class="btn btn-primary my-5">Next</button>
        </form>

        <div class="mt-5 bg-light">
                <a class="btn btn-secondary m-1 text-white" href="{% url 'setup' game_id=game.id %}">Setup</a>
                <a class="btn btn-danger m-1 text-white float-right" href="{% url 'gameover' game_id=game.id %}">End game</a>
        </div>

    </div>

{% endblock %}

{% block scripts %}
    <script>
        var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        $(function() {
            var game_id = $(".game").attr("game-id");

            var control_url = "api/game/" + game_id + "/control";

            $("#playpause").on("click", function() {
                $.ajax({
                    url: control_url,
                    type: "POST",
                    data: JSON.stringify({
                        action: "playpause",
                    }),
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'text',
                });
            })

            $("#replay").on("click", function() {
                $.ajax({
                    url: control_url,
                    type: "POST",
                    data: JSON.stringify({
                        action: "replay",
                    }),
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'text',
                });
            })
        })
    </script>
{% endblock %}