{% load bootstrap4 %}

<!DOCTYPE html>
<html>
  <head>
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">

      <h1>Create a new game <small>1 / 2</small></h1>

      <form method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}

        <button type="submit" class="btn btn-primary">Next</button>
      </form>

    </div>
  </body>
</html>

